* {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}
html,body {
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: 'Oxygen', sans-serif;
}
.cover {
	background: transparent url('../img/bg.png') repeat;
	display: flex;
	justify-content: center;
    align-items: center;
	height: 100vh;
	width: 100%;
}
.cover-cont {
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-text {
	margin-top: 20px;
	font-family: Oxygen-Light;
	font-size: 13px;
	max-width: 200px;
	color: #6A6A6A;
}
.quote-btn {
	cursor: pointer;
	border: 2px solid #00C4D6;
    padding: 10px 45px;
    border-radius: 40px;
    margin-top: 40px;
    display: block;
    font-family: Oxygen-Bold;
    font-size: 20px;
    color: #00C4D6;
    letter-spacing: 0;

}
.quote-btn:hover {
	background:#00C4D6;
	color:#fff;
}